.pagination {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .pagination button {
      margin: 0 5px;
      padding: 5px 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      cursor: pointer;
    }
    
    .pagination button.active {
      background-color: #ccc;
    }

.filtros{
      display: flex;
      backdrop-filter: blur(20px);
      justify-content: space-between;
      margin-bottom: 10px;
      margin-top: 10px;
      
      
}
label{
      color: #fff;
      font-size: larger;
}